* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Lato", sans-serif;
	background-color: rgb(230, 230, 230);
}

.wrapper {
	width: 600px;
	box-shadow: 0 0 10px gray;
	border-radius: 15px;
	overflow: hidden;
}

.top {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
	color: aliceblue;
	background-color: rgb(6, 149, 149);
}

.title {
	padding-bottom: 10px;
	font-family: "Dancing Script", cursive;
	font-size: 52px;
}

.bottom {
	padding: 40px;
}

.label {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

.enter-info {
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 6px;
	border: 1px solid gray;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
}

.button {
	padding: 10px 20px;
	width: 35%;
	font-size: 20px;
	letter-spacing: 1px;
	border-radius: 6px;
	border: none;
	background-color: rgb(6, 149, 149);
	color: aliceblue;
	cursor: pointer;
	transition: background-color .5s;
}

.button:hover {
	background-color: rgb(9, 128, 128);
}

.cost-info {
	visibility: hidden;
	text-align: center;
	font-size: 18px;
}

.cost {
	font-weight: bold;
}

.error {
	visibility: hidden;
	color: rgb(237, 70, 70);
	text-align: center;
	font-size: 18px;
}

@media (max-width: 768px) {
	.wrapper {
		margin: 50px;
		max-width: 600px;
	}	
}

@media (max-width: 576px) {
	.title {
		padding: 10px;
		font-size: 42px;
	}

	.description {
		padding: 10px;
		font-size: 14px;
	}

	.label {
		font-size: 16px;
	}
	
	.error {
		font-size: 16px;
	}

	.cost-info {
		font-size: 16px;
	}

	.button {
		font-size: 16px;
		font-weight: bold;
	}
}

@media (max-width: 468px) {
	.wrapper {
		margin: 30px;
	}

	.top {
		height: 180px;
	}

	.title {
		font-size: 36px;
	}

	.description {
		padding: 0 10px;
		font-size: 14px;
	}

	.label {
		font-size: 14px;
	}
	
	.error {
		font-size: 14px;
	}

	.cost-info {
		font-size: 14px;
	}

	.button {
		font-size: 14px;
	}
}

@media (max-width: 414px) {
	.wrapper {
		margin: 20px;
	}

	.top {
		height: 120px;
	}

	.title {
		font-size: 28px;
	}

	.description {
		font-size: 12px;
		text-align: center;
	}

	.bottom {
		padding: 20px;
	}

	.label {
		font-size: 12px;
	}
	
	.error {
		font-size: 12px;
	}

	.cost-info {
		font-size: 12px;
	}

	.button {
		font-size: 12px;
	}
}